.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pageItem {
  margin: 0 4px;

  &.disabled button {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.pageLink {
  padding: 6px 12px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  border-radius: 4px;

  &:hover:not(:disabled) {
    background: #eee3fd;
  }
}

.active .pageLink {
  background: #8334c2;
  color: #fff;
  border-color: #8334c2;
}