.radioContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.radioInput {
  display: none; 
}

.customRadio {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  transition: border 0.2s ease;
}

.radioInput:checked + .customRadio {
  border-color: #8334c2; 
}

.radioInput:checked + .customRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #8334c2; 
  border-radius: 50%;
}