.sidebar {
  background-color: #8334c2;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.sidebarHeader {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.sidebarFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}