
@use './variables' as vars;

:root {
  --bs-primary: black;
  --bs-bg-father-color: #f5f5f5;
}

.btn-outline-primary {
  --bs-btn-color: #8334c2;
  --bs-btn-border-color: #8334c2;
  --bs-btn-hover-bg: #8334c2;
  --bs-btn-hover-border-color: #8334c2;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: #8334c2;
  --bs-btn-active-border-color: #8334c2;
  --bs-btn-disabled-color: #8334c2;
}

[data-bs-theme='light'] {
  --bs-body-bg: #ffffff;
  --bs-body-color: #212529;
  --bs-bg-father-color:#f5f5f5;
  
}

[data-bs-theme='dark'] {
  --bs-body-bg: #121212;
  --bs-body-color: #f8f9fa;
  --bs-bg-father-color:#1a1a1a;
}