
@use './variables' as vars;

:root {
  --bs-primary: #8334c2; 
}

.btn-outline-primary {
  --bs-btn-color: #8334c2;
  --bs-btn-border-color: #8334c2;
  --bs-btn-hover-bg: #8334c2;
  --bs-btn-hover-border-color: #8334c2;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: #8334c2;
  --bs-btn-active-border-color: #8334c2;
  --bs-btn-disabled-color: #8334c2;
}

[data-bs-theme='light'] {
  --bs-body-bg: #ffffff;
  --bs-body-color: #212529;
}

[data-bs-theme='dark'] {
  --bs-body-bg: #121212;
  --bs-body-color: #f8f9fa;
}