.main_card {
  background-color: #f5f5f5; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.top_section {
  background-color: #ffffff;
  height: 20vh; 
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column
}


.content_section {
  background-color: #ffffff;
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 1vw;
}


@media (max-width: 768px) {
  .top_section {
    height: 20vh;
  }
}